<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<link rel="icon" type="image/png" data-th-attr="href=@{/images/logo.png}">

		<title>myTasks - Settings</title>

		<!-- Bootstrap core CSS -->
		<link data-th-attr="href=@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link data-th-attr="href=@{/css/application.css}" rel="stylesheet">
		
		<style type="text/css">
			td.user {width: 100%}
			td.admin {text-align: center}
		</style>

	</head>

	<body>

		<nav data-th-replace="fragments :: navbar(active='overview')"></nav>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main">
						<div class="content">
							<div class="row">
								<div class="col-md-12">
									<h1 class="page-header">Global Settings</h1>
									<ul class="nav nav-tabs">
									  <li role="presentation" class="active"><a data-th-href="@{/admin/users}">Users</a></li>
									  <li role="presentation"><a href="#">More</a></li>
									</ul>
									<div class="row">
										<div class="col-sm-9">
											<h3>Current Users</h3>
											<div class="panel panel-default">
												<div class="table-responsive">
													<table class="table">
														<thead>
															<tr>
																<th>Name</th>
																<th>Admin</th>
																<th></th>
															</tr>
														</thead>
														<tbody>
															<tr data-th-each="user : ${users}" data-th-class="${currentUser} == ${user} ? 'info'">
																<td class="user" data-th-text="${user.username}"></td>
																<td class="admin">
																	<span data-th-if="${@users.isAdmin(user)}" class="glyphicon glyphicon-ok"></span>
																</td>
																<td>
																	<span data-th-if="${currentUser} != ${user}" class="glyphicon glyphicon-trash"></span>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<form method="post" data-th-object="${userForm} "data-th-action="@{/admin/users/new}">
											<h3>New User</h3>
												<div class="form-group" data-th-classappend="${#fields.hasErrors('username')} ? 'has-error'">
													<label for="username" class="control-label">Username<span data-th-if="${#fields.hasErrors('username')}" data-th-text="| (${#fields.errors('username')[0]})|"> (error)</span></label>
													<input type="text" class="form-control" id="username" name="username" placeholder="Username" data-th-value="*{username}">
												</div>
												<div class="form-group" data-th-classappend="${#fields.hasErrors('password')} ? 'has-error'">
													<label for="password" class="control-label">Password<span data-th-if="${#fields.hasErrors('password')}" data-th-text="| (${#fields.errors('password')[0]})|"> (error)</span></label>
													<input type="password" class="form-control" id="password" name="password" placeholder="Password" data-th-value="*{password}">
												</div>
												<div class="form-group">
			 										<div class="checkbox">
														<label><input type="checkbox" name="admin" data-th-checked="*{admin}">Admin</label>
													</div>
												</div>
												<div class="form-group">
													<input data-th-replace="fragments :: csrf"/>
													<button class="btn btn-primary">Add User</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript -->
		<script data-th-attr="src=@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
		<script data-th-attr="src=@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	</body>
</html>

