<h1 class="page-header">{{task.summary}}</h1>
<div class="btn-toolbar pull-right">
	<div class="btn-group" role="group">
		<button type="submit" class="btn btn-default" data-ng-repeat="transition in transitions" data-ng-click="doTransition(transition)">{{transition.label}}</button>
	</div>
	<div class="btn-group" role="group">
		<button class="btn btn-default" data-ng-click="openEditTaskModal()">
			<span class="glyphicon glyphicon-edit"></span>
		</button>
		<button class="btn btn-default" data-ng-click="openDeleteTaskModal()">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</div>
</div>
<div>
	<span class="state" data-ng-class="'state-' + task.state.toLowerCase()">{{label(task.state)}}</span>
	<span class="priority" data-ng-class="'priority-' + task.priority.toLowerCase()"></span>
</div>
<div class="readme">
	<!--
	<a role="button" title="Edit" class="btn edit" data-ng-if="isDefined(readMe)" data-ng-href="/projects/edit/{{project.id}}/documentation">
		<span class="glyphicon glyphicon-edit"></span>
	</a>
	-->
	<div class="markdown" data-ng-if="isDefined(readMe)" data-ng-bind-html="readMe.html"></div>
	<div data-ng-if="isUndefined(readMe)">
		<a role="button" class="btn btn-primary" data-ng-href="/projects/edit/{{project.id}}/documentation">
			Edit notes
		</a>
	</div>
</div>