body {
	background-color: #f5f5f5;
	/* Move down content because we have a fixed navbar that is 50px tall */
	padding-top: 50px;
}

/* format form buttons in navbars the same as links */

.nav > li > form > button.btn-link {
	position: relative;
	display: block;
	padding: 10px 15px;
	border: 0;
}

.navbar-nav > li > form > button.btn-link {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}

@media (min-width: 768px) {
	.navbar-nav > li > form > button.btn-link {
	padding-top: 15px;
	padding-bottom: 15px;
  }
}

.panel-heading .navbar-form {
	margin-top: 3px;
	margin-bottom: 3px;
}

span.line-through {
	text-decoration: line-through;
}

.main {
	background-color: #fff;
	margin: 20px -15px;
	border: 1px solid #ddd;
	border-radius: 8px;
}

.content {
	padding: 20px 40px;
}

.project-header {
	text-align: center;
	border-bottom: 1px solid #eee;
}

.project-header h1 {
}

.project-header ul {
	list-style: none;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

.project-header ul>li{
	display: inline-block;
	margin: 0px 10px;
}

ul.project-list .list-group-item-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

li.list-group-placeholder {
	padding: 20px 25px;
	text-align: center;
	color: #777;
}

.task-list .list-group-item-heading {
	font-weight: 500;
	font-size: 15px;
}

.task-list .list-group-item-heading>a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.alert-centered {
	text-align: center;
}

.alert-centered .glyphicon {
	font-size: 36px;
}

span.priority:BEFORE {
	position: relative;
	top: 1px;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

span.priority-critical {
	color: #d9534f;
}

span.priority-critical:BEFORE {
	content: "\e034\2009\e034\2009\e034\2009\e034";
}

span.priority-high {
	color: #f0ad4e;
}

span.priority-high:BEFORE {
	content: "\e034\2009\e034\2009\e034";
}

span.priority-normal {
	color: #5bc0de;
}

span.priority-normal:BEFORE {
	content: "\e034\2009\e034";
}

span.priority-low {
	color: #5cb85c;
}

span.priority-low:BEFORE {
	content: "\e034";
}

span.state {
	border-radius: 4px;
	border: 1px solid #337ab7;
	color: #337ab7;
	padding: 3px 7px;
}

span.state:BEFORE {
	position: relative;
	top: 1px;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

span.state-to_do:BEFORE {
	content: "\e023\202f"; /* glyphicon-time */
}

span.state-in_progress:BEFORE {
	content: "\e072\202f"; /* glyphicon-play */
}

span.state-on_hold:BEFORE {
	content: "\e073\202f"; /* glyphicon-pause */
}

/*
span.state-done:BEFORE {
	content: "\e013\202f"; glyphicon-ok
}
*/
 
.edit {
	color: #000;
	opacity: 0.2;
	float: right;
}

.edit:HOVER {
	color: #000;
	opacity: 1.0;
}

div.readme {
	margin-top: 20px;
	text-align: center;
}
