body {
	background-color: #f5f5f5;
}

.main {
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
}

.alert-centered {
	text-align: center;
}

.alert-centered .glyphicon {
	font-size: 36px;
}

span.priority {
	border-radius: 4px;
	color: #fff;
	padding: 4px 8px;
}

span.priority-critical {
	background-color: #d9534f;
}

span.priority-high {
	background-color: #f0ad4e;
}

span.priority-normal {
	background-color: #5bc0de;
}

span.priority-low {
	background-color: #5cb85c;
}