.markdown {
	text-align: justify;
}

.markdown h1 {
	font-size: 28px;
}

.markdown h2 {
	font-size: 21px;
}

.markdown h3 {
	font-size: 18px;
}

.markdown h4 {
	font-size: 16px;
}

.markdown h5 {
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
}

.markdown h6 {
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
	color: #777;
}