<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<link rel="icon" type="image/png" data-th-attr="href=@{/images/logo.png}">

		<title data-th-text="|myTasks - ${task.summary}|"></title>

		<!-- Bootstrap core CSS -->
		<link data-th-attr="href=@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link data-th-attr="href=@{/css/dashboard.css}" rel="stylesheet">
		<link data-th-attr="href=@{/css/application.css}" rel="stylesheet">

	</head>

	<body>

		<nav data-th-replace="fragments :: navbar"></nav>

		<div class="container">
			<div class="row">
				<div class="col-md-12 main">
					<h1 class="page-header" data-th-text="${task.summary}"></h1>
					<p>
						<span class="priority" data-th-classappend="|priority-${#strings.toLowerCase(task.priority.name())}|" data-th-text="|Priority: ${task.priority}|"></span>
					</p>
					<p data-th-text="${task.description}"></p>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript -->
		<script data-th-attr="src=@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
		<script data-th-attr="src=@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	</body>
</html>

