<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<link rel="icon" type="image/png" data-th-attr="href=@{/images/logo.png}">

		<title data-th-text="|myTasks - ${project.name}|"></title>

		<!-- Bootstrap core CSS -->
		<link data-th-attr="href=@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link data-th-attr="href=@{/css/dashboard.css}" rel="stylesheet">
		<link data-th-attr="href=@{/css/application.css}" rel="stylesheet">
		<link data-th-attr="href=@{/css/markdown.css}" rel="stylesheet">

	</head>

	<body>

		<nav data-th-replace="fragments :: navbar"></nav>

		<div class="container">
			<div class="row">
				<div class="col-md-12 main">
					<div class="project-header">
						<div class="btn-toobar pull-right">
							<div class="btn-group">
								<a type="button" class="btn btn-primary" data-th-href="@{/tasks/new?project={projectId}(projectId=${project.id})}"><span class="glyphicon glyphicon-plus"></span> New Task</a>
							</div>
							<!--div class="btn-group">
								<a type="button" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
							</div-->
						</div>
						<div style="clear: both"></div>
						<h1 data-th-text="${project.name}"></h1>
						<p class="lead" data-th-text="${project.description}"></p>
						<ul>
							<li>
								<a data-th-href="@{/projects/{projectId}/tasks(projectId=${project.id})}">
									<span class="glyphicon glyphicon-check"></span>
									<span data-th-text="|${project.numberOfTasks} task| + (${project.numberOfTasks} != 1 ? 's' : '')"></span>
								</a>
							</li>
							<li>
								<a data-th-href="@{/projects/{projectId}/notes(projectId=${project.id})}">
									<span class="glyphicon glyphicon-file"></span>
									<span data-th-text="|1 note|"></span>
								</a>
							</li>
						</ul>
					</div>
					<div class="readme">
						<a role="button" title="Edit" class="btn edit" data-th-if="${project.readMe}" data-th-href="@{/projects/edit/{projectId}/documentation(projectId=${project.id})}">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
						<div class="markdown" data-th-if="${project.readMe}" data-th-utext="${@markdown.markdownToHtml(project.readMe.text)}">
						</div>
						<div data-th-unless="${project.readMe}">
							<a role="button" class="btn btn-primary" data-th-href="@{/projects/edit/{projectId}/documentation(projectId=${project.id})}">
								Edit notes
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript -->
		<script data-th-attr="src=@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
		<script data-th-attr="src=@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	</body>
</html>

