<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title">Edit Documentation</h4>
	</div>
	<form data-ng-submit="submit()">
		<div class="modal-body">
			<div class="form-group">
				<textarea rows="20" class="form-control" id="text" name="text" placeholder="Your text here." data-ng-model="markdown"></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<div>
				<button type="submit" class="btn btn-primary">Save</button>
				<button type="button" class="btn btn-default" data-ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</form>
</div>
